.fixed-image {
  @include position(fixed, 10px 45% null 10px);
  @include size(45%, 100vh);
  background-image: url("../images/cookies-coffee.jpg");
  background-position: center;
  background-size: cover;
  border: 20px solid #fefefe;
  box-shadow: $base-box-shadow;
  transform: rotate(-4deg);
  z-index: 10;

  @media (max-width: 800px) {
    @include size(100%, 50vh);
    top: -17px;
  }
}

main {
  @include position(absolute, 0 0 0 null);
  width: 50%;
  z-index: 1;

  @media (max-width: 800px) {
    margin-top: 50vh;
    width: 100%;
  }
}

.logo {
  @include margin(2em auto 3em);
  @include size(220px);
  display: block;

  @media (max-width: 800px) {
    @include size(170px);
  }
}

.about {
  @include margin(2em auto null);
  @include padding(null 2em);
  max-width: 600px;
}

.about__title {
  text-align: center;
}
