/* Column widths to use on levoleague.com for 6 column responsive fluid layout

1 column wide {width:14.667%;}
2 columns wide {width:31.333%;}
3 columns wide {width:48.0%;}
4 columns wide {width:64.667%;}
5 columns wide {width:81.333%;}
6 columns wide {width:98.0%;}

-----------------------------------------------*/

* { margin: 0; padding: 0; outline: 0;}
html, body { height: 100%; width:100%;}
body {background-color: #fff;}
p { padding:10px;}


/* Grid Elements */
.content-block { /* add this class to separate blocks of content in a column */
	margin-bottom:20px;
	/* Styles just for html grid -- Do not apply to site */
	background-color:#8892a1; height:100px; opacity:.9;
	text-align:center;
	font-family:georgia, serif;
	font-style:italic;
	font-size:18px;
	color:#fff;
	line-height:100px;
}

.column {margin-bottom:20px;} /* add this class to every major column of content for proper spacing between elements */

.fluid-img {max-width:100%;}

/* Clear Floated Elements */
.cl { display: block; height: 0; font-size: 0; line-height: 0; text-indent: -4000px; clear: both; }

/* Desktop (Default) */
.container-main {
	display: block;
	position: relative;
	max-width: 1200px;
	margin: 0px auto 0px auto;
}
.main {
	display: block;
	position: relative;
	overflow: hidden;
	margin: 0px 50px;
	background:url(images/grid-bg.jpg) 0 0 repeat-y;
}

/* Grid */
.column-6 {width:100%; float:left;}
.column-5 {width:82.7%;}
.column-4 {width: 65.5%;}
.column-3 {width: 48.2%;}
.column-2 {width: 30.9%;}
.column-1 {width: 13.6%;}
.column-quarter {width:22.2%;}
.column-three-quarters {width:74.1%;}

.left {float:left;}
.right {float:right;}
.middle {margin-left:3.7%; float:left;}

@media (max-width:1200px) {
  .main {background:none;}
}

@media (min-width: 551px) and (max-width: 959px) {
  .main {margin: 0 26px;}
  .hide {display:none;}
  .column {margin-bottom:6px;}

}

@media (max-width:550px) {
  .main {margin: 0;}
  .hide, .mobile-hide {display:none;}
  .column {margin-bottom:0;}
  .column-6, .column-5, .column-4, .column-2, .column-1 {width:100%;}
  .column-3 {width:47%;}
}