.hero {
  align-items: flex-end;
  justify-content: space-between;
  display: flex;
  height: 100vh;
  padding: 2rem;
}

.hero__logo {
  height: auto;
  margin-bottom: 0.25rem;
  max-width: 400px;
  width: 100%;
}

.hero__subheading {
  color: var(--secondary-accent-color);
  font-size: 1.87rem;
  margin-bottom: 0.25rem;
}
