.index__grouped {
  background-color: var(--soft-background-color--primary);
}

@media (min-width: 800px) {
  .index__grouped {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4rem;
    margin: 0 auto;
    max-width: var(--container-max-width);
    padding: 0 2rem 5rem;
  }
}
