@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/proxima_nova_reg-webfont.eot');
  src: local('☺︎'),
    url("../fonts/proxima_nova_reg-webfont.woff") format("woff"),
    url("../fonts/proxima_nova_reg-webfont.otf") format("opentype"),
    url("../fonts/proxima_nova_reg-webfont.svg#proxima-nova") format("svg");
}
