.pop-up {
  background-image: linear-gradient(rgba($blue, 0.6), rgba($green, 0.6));
  bottom: 0;
  left: 0;
  opacity: 0;
  padding: 1.75rem;
  position: absolute;
  right: 0;
  text-align: left;
  top: 0;
  transition: opacity 500ms ease;
  visibility: hidden;
  z-index: -1;

  &.show {
    opacity: 1;
    visibility: visible;
    z-index: 10;
  }

  a {
    color: white;

    &:hover {
      background-color: rgba(white, 0.3);
    }
  }
}

.pop-up__close {
  padding: 1em;
  position: absolute;
  right: 0;
  top: 0;
}

.pop-up__content {

}

.pop-up__nav-link {
  display: block;
  margin: 0 -0.75em;
  padding: 0.5em 0.75em;
}

.pop-up__heading {
  color: white;
  font-size: 2rem;

  @media (max-width: 550px) {
    font-size: 1.6rem;
  }
}

.pop-up__nav-item {
  font-size: 1.2rem;
  margin-top: 0.5em;

  @media (max-width: 550px) {
    font-size: 1rem;
  }
}
