@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,400italic');

* {
  box-sizing: border-box;
}

html {
  font-size: 20px;
}

body {
  background-color: white;
  color: #50bc8a;
  font-family: "Lato", helvetica, arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  height: 100%;
  line-height: 1.4;
  padding: 1em;
  text-align: center;
}

main {
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  transition-property: filter, -webkit-filter, -moz-filter, -ms-filter;
  transition-duration: 500ms;
  transition-timing: ease;
  z-index: 1;
}

.blur {
  -webkit-filter: blur(4px);
  -moz-filter: blur(4px);
  -ms-filter: blur(4px);
  filter: blur(4px);
}

a {
  border-bottom: 2px solid transparent;
  color: #50bc8a;
  display: inline-block;
  fill: currentColor;
  padding-bottom: 3px;
  text-decoration: none;
  transition: all 250ms ease;
}

a:focus,
a:hover {
  color: #0681b1;
  fill: currentColor;
}

a:focus {
  border-color: #0681b1;
  outline: 0;
}

.logo {
  height: auto;
  max-width: 315px;
  width: 100%;
}

.subheading {
  font-size: 1.15rem;
  margin: 1em 0;
}

.icon-nav__item {
  display: inline-block;
  margin: 0 0.45em 1em;
}

.icon-nav__link {
  transition: opacity 500ms ease;
}

.icon-nav__link.hide {
  opacity: 0;
  visibility: hidden;
}

.pop-up {
  background-image: linear-gradient(rgba(6, 129, 177, 0.6), rgba(80, 188, 138, 0.6));
  opacity: 0;
  padding: 1.75rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  text-align: left;
  transition: opacity 500ms ease;
  visibility: hidden;
  z-index: -1;
}

.pop-up.show {
  opacity: 1;
  visibility: visible;
  z-index: 10;
}

.pop-up a {
  border: none;
  color: white;
}

.pop-up a:focus,
.pop-up a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.pop-up__close {
  padding: 1em;
  position: absolute;
  right: 0;
  top: 0;
}

.pop-up__nav-link {
  display: block;
  margin: 0 -0.75em;
  padding: 0.5em 0.75em;
}

.pop-up__nav-item p {
  font-size: 0.8em;
  max-width: 80ch;
}

.pop-up__nav-disclaimer {
  color: white;
  font-style: italic;
}

.pop-up__heading {
  color: white;
  font-size: 2rem;
  font-weight: 300;
}

@media (max-width: 550px) {
  .pop-up__heading {
    font-size: 1.6rem;
  }
}

.pop-up__nav-item {
  font-size: 1.2rem;
  margin-top: 0.5em;
}

@media (max-width: 550px) {
  .pop-up__nav-item {
    font-size: 1rem;
  }
}
