.project-thumbnails {
  margin: 0 auto;
  max-width: var(--container-max-width);
  overflow: hidden;
  padding-bottom: 4rem;
  position: relative;
}

@media (min-width: 800px) {
  .project-thumbnails {
    padding-bottom: 8rem;
  }
}

.project-thumbnails::after {
  border-color: var(--soft-background-color--secondary) transparent transparent transparent;
  border-style: solid;
  border-width: 240px 3000px 0 0;
  bottom: 0;
  content: "";
  display: block;
  height: 0;
  left: 0;
  position: absolute;
  right: 0;
  width: 0;
  z-index: var(--background-z-index);
}

.project-thumbnails__list-container,
.project-thumbnails__heading-container {
  background-color: var(--soft-background-color--secondary);
  padding: 0 2rem;
}

@media (min-width: 800px) {
  .project-thumbnails__list-container,
  .project-thumbnails__heading-container {
    background-color: var(--soft-background-color--secondary);
    padding: 0 4rem;
  }
}

.project-thumbnails__list-container {
  display: flex;
}

.project-thumbnails h2 {
  margin: 0 auto;
  max-width: 60rem;
  padding-top: 4rem;
  padding-bottom: 2.5rem;
}

.project-thumbnails__list {
  margin: 0 auto;
  position: relative;
  z-index: var(--content-z-index);
}

.project-thumbnails__list li {
  margin-bottom: 4rem;
  transform: rotate(-5deg);
}

@media (min-width: 800px) {
  .project-thumbnails__list {
    display: grid;
    grid-gap: 0 4rem;
    grid-template-columns: repeat(2, 320px);
    transform: rotate(-5deg);
  }

  .project-thumbnails__list li {
    margin-bottom: 0;
    transform: rotate(0deg);
  }

  .project-thumbnails__list li:nth-child(even) {
    margin-top: 3rem;
  }
}

@media (min-width: 1200px) {
  .project-thumbnails__list {
    grid-template-columns: repeat(3, 320px);
    max-width: 60rem;
  }

  .project-thumbnails__list li:nth-child(even) {
    margin-top: 0;
  }

  .project-thumbnails__list li:nth-child(3n + 2) {
    margin-top: 3rem;
  }

  .project-thumbnails__list li:nth-child(3n) {
    margin-top: 6rem;
  }
}

.project-thumbnails__title {
  font-size: 1rem;
  letter-spacing: 0.05em;
  margin-bottom: 0;
  padding-bottom: 0.5rem;
  text-transform: uppercase;
}

.project-thumbnails__image {
  box-shadow: 0 0 13px rgba(93, 78, 115, 0.25);
  display: block;
  margin: 0 auto 1rem;
  max-width: 400px;
  width: 100%;
}

.project-thumbnails a {
  color: var(--base-font-color);
}

.project-thumbnails a:focus {
  color: var(--primary-accent-color);
}

.project-thumbnails a:hover {
  color: var(--secondary-accent-color);
}
