/*
off-white #f0f0d8
gray-dark #666766
gray-medium #b7b7b7
gray-light #d8d8d4
black-soft #282828
mint #78c8aa
light mint #b9f5d8
teal #458b8e
teal transparent rgba(69, 139, 142, 0.75)
beige #ecddd3
*/


/*Universal Style Elements*/

.button {
  appearance: none;
  background-color: #458b8e;
  border: 0;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-align: center;
  text-decoration: none;
  -webkit-transition: background-color 250ms ease;
  transition: background-color 250ms ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.button:focus,
.button:hover {
  background-color: #78c8aa;
}


/*Section Specific Styles*/

.browser-notice {
  position: absolute;
  top: 4rem;
  width: 100%;
}

.browser-notice p {
  background-color: white;
  border: 2px solid rgba(69, 139, 142, 0.75);
  color: #458b8e;
  font-size: 0.85rem;
  font-weight: 400;
  margin: 0 auto;
  max-width: 700px;
  padding: 1rem;
  text-align: center;
}

@supports (display: flex) {
  .browser-notice {
    display: none;
  }
}


@supports (display: -webkit-flex) {
  .browser-notice {
    display: none;
  }
}

.splash {
  background-image: url("../images/lotion-jar.jpg");
  background-position: center top;
  background-size: cover;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  height: 100vh;
  position: relative;
  text-align: center;
  width: 100%;
}

.splash::before {
  background-color: white;
  content: "";
  opacity: 0.55;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

.splash__header {
  display: block;
  margin: 0 auto;
  max-width: 1000px;
  width: 90%;
  z-index: 1;
}

.splash__logo {
  height: auto;
  width: 100%;
  z-index: 1;
}

.splash__name {
  float: right;
  font-size: 1rem;
  margin: 0.75rem 0.5rem 0 0;
}

@media (min-width: 600px) {
  .splash__name {
    font-size: 1.5rem;
    margin: 1rem 1rem 0 0;
  }
}

.splash__footer {
  background-color: rgba(69, 139, 142, 0.7);
  color: white;
  padding: 1.35rem 1rem 1.6rem;
  text-align: center;
  width: 100%;
  z-index: 1;
}

.splash__tagline {
  color: white;
  font-size: 1.9rem;
  margin-bottom: 0.75rem;
  text-align: center;
}

@media (max-width: 600px) {
  .splash__tagline {
    font-size: 1.4rem;
  }
}

.splash__condition {
  display: inline-block;
  font-family: "Lato", sans-serif;
  font-style: italic;
  margin: 0.25rem 0;
  text-align: center;
}

@media (min-width: 700px) {
  .splash__condition {
    white-space: nowrap;
  }
}

.splash__condition::before {
  background-image: url("../images/star-bullet-white.svg");
  content: "";
  height: 12px;
  display: inline-block;
  margin: 0 0.5rem;
  width: 12px;
}

@media (max-width: 600px) {
  .site-nav__list {
    display: none;
  }

  .site-nav__list.open {
    background-color: white;
    box-shadow: 0 0 20px rgba(200, 200, 200, 0.5);
    display: block;
    padding: 1rem 1rem 0.5rem;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    text-align: center;
  }
}

.mobile-nav__trigger {
  color: #282828;
  display: none;
  fill: currentColor;
  margin-right: 0.5rem;
  text-decoration: none;
}

@media (max-width: 600px) {
  .mobile-nav__trigger {
    display: block;
  }
}

.mobile-nav__trigger:focus,
.mobile-nav__trigger:hover {
  color: #458b8e;
}

.mobile-nav__trigger span {
  line-height: 1;
  vertical-align: middle;
}

.mobile-nav__close {
  color: #282828;
  display: none;
  fill: currentColor;
  height: 17px;
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 17px;
}

@media (max-width: 600px) {
  .mobile-nav__close {
    display: block;
  }
}

.mobile-nav__close:focus,
.mobile-nav__close:hover {
  color: #458b8e;
}

.mobile-nav__icon {
  height: auto;
  margin-right: 0.2rem;
  vertical-align: middle;
  width: 24px;
}

.site-nav {
  font-family: "Playfair Display";
  font-size: 0.9rem;
  letter-spacing: 0.03em;
  padding-top: 0.5rem;
  text-align: right;
  z-index: 2;
}

.site-nav li {
  display: inline-block;
  margin: 0 0.75rem;
}

@media (max-width: 600px) {
  .site-nav li {
    display: block;
    margin-bottom: 1rem;
  }
}

.site-nav__link {
  color: #282828;
  display: inline-block;
  padding-bottom: 2px;
  border-bottom: 2px solid transparent;
  text-decoration: none;
  -webkit-transition: border-color 250ms ease;
  transition: border-color 250ms ease;
}

.site-nav__link:hover,
.site-nav__link:focus {
  border-color: rgba(69, 139, 142, 0.5);
}

.about {
  background-color: white;
  overflow: hidden;
  text-align: left;
}

@media (max-width: 600px) {
  .about__title {
    font-size: 2rem;
  }
}

.about__subtitle {
  margin-bottom: 1.5rem;
}

.about__subtitle:not(:last-of-type) {
  margin-bottom: 0.5rem;
}

.about__image-container {
  float: left;
  height: 900px;
  margin-right: 4rem;
  width: 469px;
}

@media (max-width: 1000px) {
  .about__image-container {
    height: auto;
    margin: 0 2rem 1rem 0;
    width: 50%;
  }

  @supports (object-fit: cover) {
    .about__image-container {
      height: 584px;
    }
  }
}

@media (max-width: 580px) {
  .about__image-container {
    float: none;
    margin-bottom: 0;
    width: 100%;
  }
}

.about__image {
  height: auto;
  width: 100%;
}

@supports (object-fit: cover) {
  .about__image {
    height: 100%;
    min-width: 100%;
    object-fit: cover;
    object-position: top center;
    width: auto;
  }
}

.about__copy {
  margin: 0 auto;
  max-width: 70em;
  padding: 3rem 2rem 0;
}

@media (max-width: 580px) {
  .about__copy {
    padding: 2rem 1rem;
  }
}

.treatments {
  background-color: #458b8e;
  background-image: radial-gradient(
    circle at bottom right, #93d9b4, #458b8e 55%
  );
  color: white;
  padding: 2rem 1rem;
  text-align: center;
}

.treatments__header {
  background-image: url("../images/swirl-ornament.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 246px;
  padding: 100px 0 70px;
  margin: 0 auto;
  width: 100%;
}

.treatments__title {
  font-family: "Lato";
  font-size: 3rem;
  font-weight: 300;
  letter-spacing: 0.05em;
  margin-bottom: 0.5rem;
  text-align: center;
  text-transform: uppercase;
}

@media (max-width: 600px) {
  .treatments__title {
    font-size: 2rem;
  }
}

.treatments__subtitle {
  font-family: "Lato";
  font-weight: 300;
}

.treatments__list {
  margin: 0 auto;
  max-width: 36em;
}

.treatments__item {
  margin-bottom: 4rem;
}

.treatments__item-title {
  font-size: 1.6rem;
}

@media (max-width: 600px) {
  .treatments__item-title {
    font-size: 1.3rem;
  }
}

.treatments__item-meta em {
  margin-left: 0.25rem;
}

.products {
  padding: 3rem 0 0;
}

@media (max-width: 600px) {
  .products__title {
    font-size: 2rem;
  }
}

.products__subtitle {
  margin: 0 auto;
  max-width: 650px;
  padding: 0 1rem;
}

.products__lines {
  margin-top: 4rem;
  text-align: left;
}

.products__line {
  color: white;
  width: 100%;
}

@media (min-width: 850px) {
  .products__line {
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-flex;
    display: flex;
    font-size: 0.8rem;
  }
}

.products__line-image {
  width: 100%;
}

@media (min-width: 850px) {
  .products__line-image {
    flex-shrink: 0;
    width: 50%;
  }
}

.products__line-name {
  font-size: 1.7em;
}

@media (max-width: 600px) {
  .products__line-name {
    font-size: 1.3em;
  }
}

.products__line-copy {
  padding: 1rem 3rem;
}

@media (max-width: 850px) {
  .products__line-copy {
    padding: 2rem;
  }
}

@media (min-width: 1100px) {
  .products__line-copy {
    font-size: 1rem;
  }
}

.products__line.january-labs {
  background-color: #5693a0;
  background-image: linear-gradient(#5693a0, #83c1c6);
}

.products__line.tizo {
  background-color: #4082b6;
  background-image: linear-gradient(#4082b6, #74aac1);
}

.products__line.pca-skin {
  background-color: #77acdf;
  background-image: linear-gradient(#77acdf, #8ebed6);
}

.products__line.dermalogica {
  background-color: #9292cb;
  background-image: linear-gradient(#9292cb, #a8a8cc);
}

.products__line.lira {
  background-color: #458b8e;
  background-image: linear-gradient(#458b8e, #72afaa);
}

.products__line:nth-child(even) .products__line-copy {
  order: 1;
}

.products__line:nth-child(even) .products__line-image {
  order: 2;
}

.contact {
  background-image: url("../images/small-tile-bg.png");
  background-size: 50%;
  padding: 4rem 1rem;
}

@media (max-width: 600px) {
  .contact__title {
    font-size: 1.7rem;
  }
}

.contact__form-container {
  background-color: white;
  box-shadow: 0 0 20px rgba(200, 200, 200, 0.5);
  margin: 0 auto;
  max-width: 620px;
  padding: 2rem;
}

@media (max-width: 600px) {
  .contact__form input,
  .contact__form textarea
   {
    font-size: 0.85rem;
  }
}

.contact__button {
  margin-top: 1rem;
}

.client-forms {
  padding: 3rem 1rem;
}

.client-forms__title {
  text-align: center;
}

.client-forms__forms {
  margin: 0 auto;
  max-width: 36em;
}

.client-forms__form {
  margin: 1rem 0;
}

.client-forms__link {
  color: #282828;
  text-decoration: none;
}

.client-forms__link:focus,
.client-forms__link:hover {
  color: #458b8e;
}

.client-forms__link img {
  margin-left: 0.35rem;
}

.site-footer {
  -webkit-align-items: center;
  align-items: center;
  background-color: #282828;
  display: -webkit-flex;
  display: flex;
  font-size: 0.75rem;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding: 1.5rem;
  text-align: center;
}

@media (max-width: 600px) {
  .site-footer {
    display: block;
  }
}

.site-footer__nav li {
  display: inline-block;
  margin-right: 1rem;
}

@media (max-width: 600px) {
  .site-footer__nav li {
    display: block;
    margin: 0 0 1rem;
  }
}

.site-footer__link {
  color: white;
  text-decoration: none;
  opacity: 0.75;
}

.site-footer__nav img {
  vertical-align: middle;
}

.site-footer__link:focus,
.site-footer__link:hover {
  color: white;
  opacity: 1;
}

.site-footer__copyright {
  color: white;
  margin-bottom: 0;
  opacity: 0.75;
}
