@import url(https://fonts.googleapis.com/css?family=Oswald:700|PT+Mono|Special+Elite|Fredericka+the+Great);

// Typography
$sans-serif: "PT Mono", monospace;
$base-font-family: $sans-serif;
$heading-font-family: "Special Elite", $sans-serif;

// Font Sizes
$base-font-size: 14px;
$large-font-size: 1.25em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 2px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$coffee: #4a4143;
$rosy-peach: #f87965;
$light-peach: #fdb797;
$latte: #cfa46f;

// Font Colors
$base-font-color: $coffee;
$action-color: $rosy-peach;
$heading-font-color: $coffee;

// Border
$base-border-color: $latte;
$base-border: 1px solid $base-border-color;
$base-border-radius: 3px;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: tint($base-border-color, 75%);

// Box Shadow
$base-box-shadow: 0 0 5px rgba(#000, 0.2);

// Animations
$base-duration: 150ms;
$base-timing: ease;
