@import url(../stylesheets/normalize.min.css);
@import url(https://fonts.googleapis.com/css?family=Oswald:700|PT+Mono|Special+Elite|Fredericka+the+Great);
html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

ul,
ol {
  font-size: 17.5px;
  list-style-type: none;
  margin: 0;
  padding: 0; }

dl {
  margin: 0; }

dt {
  font-weight: 600;
  margin: 0; }

dd {
  margin: 0; }

figure {
  margin: 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

body {
  background-color: #fff;
  background-image: url("../images/linen-background.jpg");
  color: #4a4143;
  font-family: "PT Mono", monospace;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #4a4143;
  font-family: "Special Elite", "PT Mono", monospace;
  font-weight: 700;
  letter-spacing: 0.1em;
  line-height: 1.2;
  margin: 0 0 1em;
  text-rendering: optimizeLegibility;
  text-transform: uppercase; }

h1 {
  font-size: 42px; }

h2 {
  font-size: 21px; }

h3 {
  font-size: 15.75px; }

h4 {
  font-size: 15.75px; }

h5 {
  font-size: 14px; }

h6 {
  font-size: 14px; }

p {
  color: #4a4143;
  font-size: 17.5px;
  font-weight: 400;
  margin: 0 0 1em; }

a {
  color: #f87965;
  text-decoration: none;
  transition: color 150ms ease; }
  a:active, a:focus, a:hover {
    color: #ba5b4c; }

hr {
  border-bottom: 1px solid #cfa46f;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0; }

.fixed-image {
  position: fixed;
  top: 0;
  right: 45%;
  bottom: 0;
  left: 0;
  height: 100vh;
  width: 45%;
  background-image: url("../images/cookies-coffee.jpg");
  background-position: center;
  background-size: cover;
  border: 20px solid #fefefe;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); }

main {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 55%; }

.logo {
  margin: 2em auto 3em;
  height: 220px;
  width: 220px;
  display: block; }

.about {
  margin-top: 2em;
  margin-right: auto;
  margin-left: auto;
  padding-right: 2em;
  padding-left: 2em;
  max-width: 600px; }

.about__title {
  text-align: center; }
