.browser-disclaimer {
  background-color: var(--color-gray--light);
  margin: 1rem auto;
  max-width: 65ch;
  padding: 1rem;
  text-align: center;
}

@supports (display: grid) {
  .browser-disclaimer {
    display: none;
  }
}
